<!DOCTYPE html>
<html>
	<head>
		<link
 		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
 		rel="stylesheet"
 		integrity="sha384-
		T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
 		crossorigin="anonymous"
 		/>
 		<title> My Hobbies</title>
 		<link rel = "stylesheet" href="../resources/css/style.css">
	</head>
	<body class = "bg-info text-white">
	<div id = "navbar-container"></div>
	<script
 		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
 		integrity="sha384-
		C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
 		crossorigin="anonymous"
 	></script>
 	<h1>My Hobbies</h1>
 	<div class="album py-5 bg-body-info">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Thumbnail: Skier" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Skier</title>
                            <image href="../resources/img/skier.jpeg" width="100%" height="100%" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Skiing is my favorite hobbie. I used to race competitively but now I do it for fun</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Thumbnail: Skier" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Golf</title>
                            <image href="../resources/img/golf.jpeg" width="100%" height="100%" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Golf is a hobbie I like to enjoy with friends on my free time during the summer</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Thumbnail: Skier" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Djing</title>
                            <image href="../resources/img/jameshype.jpeg" width="100%" height="100%" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Djing is a newer hobby of mine. I taught myself how to mix recently</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Thumbnail: Skier" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Hiking</title>
                            <image href="../resources/img/hiking.jpeg" width="100%" height="100%" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Hiking is something I love doing. It's a rewarding experience, especially with good views</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../resources/js/navbar.js"></script>
    <script>
        loadNavbar(); // Call the function to load the navbar
    </script>
	</body>

</html>