<!DOCTYPE html>
<html>
 <head>
  	<link
 		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
 		rel="stylesheet"
 		integrity="sha384-
		T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
 		crossorigin="anonymous"
 	/>
 	<title>Kenny Detlet - Fall 2024 Semester Schedule</title>
 	<link rel = "stylesheet" href="../resources/css/style.css">
 </head>
 <body class = "bg-info text-white">
 <div id = "navbar-container"></div>
	<script
 		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
 		integrity="sha384-
		C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
 		crossorigin="anonymous"
 	></script>
 <h1>Fall 2024 Class Schedule</h1>
 <table id = "schedule-container" class = "table table-bordered">
 <thead>
 <tr class = "table-warning">
 	<th>Monday</th>
 	<th>Tuesday</th>
 	<th>Wednesday</th>
 	<th>Thursday</th>
 	<th>Friday</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 	<td>3:20 - 4:35 - Digital Electronics</td>
 	<td rowspan="1">1:00 - 2:15 - Senior Design Project</td>
 	<td rowspan="1">3:20 - 4:35 - Digital Electronics</td>
 	<td rowspan="1">1:00 - 2:15 - Senior Design Project</td>
 	<td rowspan="1">No class!</td>
 </tr>
 <tr>
 	<td>6:15 - 8:55: Digital Forensics</td>
 	<td rowspan="1">6:15 - 8:55 - Platform Based Computing</td>
 	<td rowspan="1">6:15 - 8:55 - Operating Systems</td>
 	<td rowspan="1"></td>
 	<td rowspan="1"></td>
 </tr>
 <tr></tr>
 </tbody>
</table>
</div>
<button id="toggle-schedule">Hide Schedule</button>
<script src="../resources/js/script.js"></script>
<script src="../resources/js/navbar.js"></script>
<script>
	loadNavbar(); // Call the function to load the navbar
</script>
</body>
</html>